.logo {
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 16px;
  padding: 6.4px 15px;
  border-radius: 2px;
  cursor: pointer;
}

.logo:hover {
  background: #2c2c2c;
  color: #fff;
}

/* LG, XL, XXL */

.menu-xl,
.menu-lg {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.layout-dark .menu-xl,
.layout-dark .menu-lg {
  background: #11181e;
}

.menu-xl {
  padding-left: 10%;
  padding-right: 10%;
}

.menu-lg {
  padding-left: 16px;
  padding-right: 16px;
}

.menu-xl .menu-left,
.menu-lg .menu-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-xl .menu-left .menu-item,
.menu-lg .menu-left .menu-item {
  margin-right: 8px;
  transition: 0.3s ease-in-out;
}

.menu-xl .menu-left .menu-item:hover,
.menu-lg .menu-left .menu-item:hover {
  background: #d5d5d5;
}

.layout-dark .menu-xl .menu-left .menu-item:hover,
.layout-dark .menu-lg .menu-left .menu-item:hover {
  background: #22282e;
}

.menu-xl .menu-left .selected-menu-item,
.menu-lg .menu-left .selected-menu-item {
  margin-right: 8px;
  transition: 0.3s ease-in-out;
  border: 1px solid #000;
}

.layout-dark .menu-xl .menu-left .selected-menu-item,
.layout-dark .menu-lg .menu-left .selected-menu-item {
  margin-right: 8px;
  transition: 0.3s ease-in-out;
  border: 1px solid #fff;
}

.menu-xl .menu-right .profile-icon,
.menu-lg .menu-right .profile-icon {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu-xl .menu-right .profile-icon:hover,
.menu-lg .menu-right .profile-icon:hover {
  opacity: 0.7;
}

/* XS, SM, MD */

.menu-xs {
  padding: 0%;
}

.menu-xs .menu-top {
  background: #fff;
  height: 80px;
  position: fixed;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 20;
}

.menu-xs .menu-items {
  margin-top: 80px;
  position: fixed;
  width: 100%;
}

.menu-xs .menu-items .menu-item {
  height: 10vh;
  background-color: #fff;
  border-bottom: 2px solid #000;
  text-align: left;
  padding-left: 32px;
}

.menu-xs .menu-items .selected-menu-item {
  height: 10vh;
  background-color: #e5e5e5;
  border-bottom: 2px solid #000;
  text-align: left;
  padding-left: 32px;
  font-weight: bold;
}

.hamburger-open {
  border: 2px solid #000;
  color: #000;
  transition: 0.5s ease-in-out;
}

.hamburger-close {
  border: 2px solid #000;
  color: #000;
  transition: 0.5s ease-in-out;
}
