.trailer .ant-modal-body {
  padding: 40px 0 0 0;
}

.trailer .ant-modal-content {
  background: rgba(0, 0, 0, 0);
}

.trailer .ant-modal-close {
  color: #d5d5d5;
}

.trailer .ant-modal-close:hover {
  color: #fff;
}
