.film-card .ant-card-body {
  padding: 0px;
  background: rgba(0, 0, 0, 0);
}

.film-card .ant-typography {
  margin-bottom: 0%;
}

.film-card .film-title {
  font-weight: 600;
  margin-top: 4px;
}

.film-card .film-releasedate {
  display: block;
  font-size: 12px;
  color: #8c8c8c;
}

.film-card .film-poster-container {
  position: relative;
  overflow: hidden;
}

.film-card .film-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
}

.film-card .film-score {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.film-card .film-actions {
  position: absolute;
  top: 8px;
  right: 8px;
}

.film-card .film-actions .button-more {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.film-card .film-actions .button-more:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.film-poster-container .drawer {
  position: absolute;
}

.film-poster-container .drawer .ant-drawer-body {
  padding: 8px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.film-poster-container .drawer .ant-btn {
  margin-bottom: 4px;
  transition: 0.3s ease-in-out;
}

.layout-dark .film-poster-container .drawer .ant-drawer-content {
  background: #11181e;
}

.film-poster-container .drawer .like:hover,
.film-poster-container .drawer .like-fill:hover {
  background: rgba(231, 76, 60, 0.25);
  color: #c0392b;
}

.film-poster-container .drawer .watched:hover,
.film-poster-container .drawer .watched-fill:hover {
  background: rgba(76, 209, 55, 0.25);
  color: #44bd32;
}

.film-poster-container .drawer .watchlist:hover,
.film-poster-container .drawer .watchlist-fill:hover {
  background: rgba(72, 52, 212, 0.25);
  color: #130f40;
}

.film-poster-container .drawer .addlist:hover {
  background: rgba(11, 232, 129, 0.25);
  color: #009432;
}

.film-poster-container .drawer .rate:hover,
.film-poster-container .drawer .rate-fill:hover {
  background: rgba(253, 204, 13, 0.5);
  color: #2f3542;
}

.film-poster-container .drawer .like-fill {
  background: rgba(231, 76, 60, 1);
  color: #fff;
}

.film-poster-container .drawer .watched-fill {
  background: rgba(76, 209, 55, 1);
  color: #fff;
}

.film-poster-container .drawer .watchlist-fill {
  background: rgba(72, 52, 212, 1);
  color: #fff;
}

.film-poster-container .drawer .rate-fill {
  background: rgba(253, 204, 13, 1);
  color: #000;
  font-weight: bold;
}
