.film-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
}

.layout-dark .film-detail .ant-tag {
  background: #11181e;
  color: #fff;
}

.film-detail .ant-progress-circle .ant-progress-inner {
  background-color: #000;
  border: 4px solid #000;
}

.film-detail .ant-progress-circle .ant-progress-text {
  color: #fff;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}

.film-detail .play-trailer {
  margin-top: 24px;
}

.layout-dark .film-detail .play-trailer {
  background: #22282e;
  transition: 0.3s ease-in-out;
}

.film-detail .actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
}

.film-detail .actions .action {
  text-align: center;
  margin-right: 16px;
}

.film-detail .actions .ant-btn {
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
}

.film-detail .actions .view:hover {
  background: rgba(15, 188, 249, 0.25);
  color: #3c40c6;
}

.film-detail .actions .like:hover,
.film-detail .actions .like-fill:hover {
  background: rgba(231, 76, 60, 0.25);
  color: #c0392b;
}

.film-detail .actions .watched:hover,
.film-detail .actions .watched-fill:hover {
  background: rgba(76, 209, 55, 0.25);
  color: #44bd32;
}

.film-detail .actions .watchlist:hover,
.film-detail .actions .watchlist-fill:hover {
  background: rgba(72, 52, 212, 0.25);
  color: #130f40;
}

.film-detail .actions .addlist:hover {
  background: rgba(11, 232, 129, 0.25);
  color: #009432;
}

.film-detail .actions .rate:hover,
.film-detail .actions .rate-fill:hover {
  background: rgba(253, 204, 13, 0.5);
  color: #2f3542;
}

.film-detail .actions .like-fill {
  background: rgba(231, 76, 60, 1);
  color: #fff;
}

.film-detail .actions .watched-fill {
  background: rgba(76, 209, 55, 1);
  color: #fff;
}

.film-detail .actions .watchlist-fill {
  background: rgba(72, 52, 212, 1);
  color: #fff;
}

.film-detail .actions .rate-fill {
  background: rgba(253, 204, 13, 1);
  color: #000;
  font-weight: bold;
}

.film-plot {
  margin-top: 24px;
}
