.film-swiper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 8px 0;
}

.film-swiper-title {
  border-left: 8px solid #000;
  padding-left: 8px;
}

.layout-dark .film-swiper-title {
  border-left: 8px solid #fff;
  padding-left: 8px;
}
