.film-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
}

.layout-dark .film-detail .ant-tag {
  background: #11181e;
  color: #fff;
}

.film-detail .ant-progress-circle .ant-progress-inner {
  background-color: #000;
  border: 3px solid #000;
}

.film-detail .ant-progress-circle .ant-progress-text {
  color: #fff;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}

.film-detail .play-trailer {
  background: #e5e5e5;
  transition: 0.3s ease-in-out;
}

.film-detail .play-trailer:hover,
.layout-dark .film-detail .play-trailer:hover {
  background: rgba(0, 148, 50, 0.25);
}

.layout-dark .film-detail .play-trailer {
  background: #22282e;
  transition: 0.3s ease-in-out;
}

.film-detail .actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.film-detail .actions .action {
  text-align: center;
  margin-right: 16px;
}

.film-detail .actions .ant-btn {
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
}

.layout-dark .film-detail .actions .ant-btn {
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
}

.film-detail .actions .view:hover {
  background: rgba(15, 188, 249, 0.25);
  color: #3c40c6;
}

.film-detail .actions .like:hover {
  background: rgba(231, 76, 60, 0.25);
  color: #c0392b;
}

.film-detail .actions .watched:hover {
  background: rgba(76, 209, 55, 0.25);
  color: #44bd32;
}

.film-detail .actions .watchlist:hover {
  background: rgba(72, 52, 212, 0.25);
  color: #130f40;
}

.film-detail .actions .addlist:hover {
  background: rgba(11, 232, 129, 0.25);
  color: #009432;
}

.film-detail .actions .rate:hover {
  background: rgba(253, 204, 13, 0.5);
  color: #2f3542;
}

.layout-dark .film-detail .actions .like:hover {
  background: rgba(231, 76, 60, 0.5);
  color: #f0695b;
}

.layout-dark .film-detail .actions .watchlist:hover {
  background: rgba(72, 52, 212, 0.5);
  color: #636fa0;
}

.layout-dark .film-detail .actions .addlist:hover {
  background: rgba(11, 232, 129, 0.5);
  color: #44d472;
}

.layout-dark .film-detail .actions .rate:hover {
  background: rgba(253, 204, 13, 0.5);
  color: #afb5c2;
}

.film-plot {
  margin-top: 24px;
}
