body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 400px;
  height: 100%;
}

.ant-layout {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layout-light {
  background-color: #f0f2f5;
  color: rgba(0, 0, 0, 0.85);
}

.layout-dark {
  background-color: #0d1117;
  color: rgba(255, 255, 255, 0.85);
}

.header {
  background: rgba(0, 0, 0, 0);
  padding: 0%;
  height: 80px;
  z-index: 20;
  line-height: unset;
}

.content {
  min-height: 80vh;
  padding: 0%;
  width: 100%;
}

.content-item-xxl {
  padding: 24px 20%;
}

.content-item-xl {
  padding: 24px 12%;
}

.content-item-lg {
  padding: 24px;
}

.content-item-xs {
  padding: 24px 16px;
  width: 100%;
}

.content-side {
  position: fixed;
  top: 60%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.content-side-xl {
  right: 4%;
}

.content-side-lg {
  right: 16px;
}

.content-side-xs {
  right: 16px;
}

.content-side .ant-btn {
  margin-bottom: 8px;
}

.content-side .ant-back-top {
  right: unset;
  bottom: 50px;
}

.footer {
  background-color: #fff;
  padding: 0%;
}

.layout-dark .footer {
  background-color: #11181e;
  color: #fff;
}

.layout-light .content-side .ant-btn {
  background: #e5e5e5;
  color: #000;
}

.layout-light .content-side .ant-btn:hover {
  background: #d5d5d5;
  color: #000;
}

.layout-dark .content-side .ant-btn {
  background: #11181e;
  color: #fff;
}

.layout-dark .content-side .ant-btn:hover {
  background: #22282e;
  color: #fff;
}

.layout-dark .ant-typography,
.layout-dark .ant-breadcrumb-link,
.layout-dark .ant-select-arrow,
.layout-dark .ant-input-number-handler-wrap .anticon,
.layout-dark .ant-timeline,
.layout-dark .ant-descriptions-item-label,
.layout-dark .ant-descriptions-item-content,
.layout-dark .ant-btn-text,
.layout-dark .ant-list-item-meta-title > a,
.layout-dark .ant-rate-text,
.layout-dark .ant-statistic-content,
.layout-dark .ant-form-item-label > label,
.layout-dark .ant-upload {
  color: #fff;
}

.ant-carousel .slick-dots li button {
  height: 8px;
  border-radius: 8px;
}

/* Button */

.ant-btn-ghost {
  border-color: #22282e;
}

.layout-dark .ant-btn-ghost {
  color: #fff;
  border-color: #d5d5d5;
}

.layout-dark .ant-btn-ghost:hover {
  color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-dashed {
  background: rgba(0, 0, 0, 0);
}

.layout-dark .ant-btn-dashed {
  color: rgba(255, 255, 255, 0.85);
}

.layout-dark .ant-btn-dashed:hover {
  background: rgba(0, 0, 0, 0);
  color: #1890ff;
  border-color: #1890ff;
}

.layout-dark .ant-breadcrumb a,
.layout-dark .ant-breadcrumb-separator,
.layout-dark .ant-list-item-meta-description,
.layout-dark .ant-statistic-title,
.layout-dark .ant-menu-item-group-title {
  color: rgba(255, 255, 255, 0.45);
}

.layout-dark .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #11182a;
}

.layout-light div.container {
  background: #fff;
  padding: 16px 24px;
  border-radius: 2px;
}

.layout-dark div.container {
  background: #11181e;
  padding: 16px 24px;
  border-radius: 2px;
}

.layout-dark .ant-card {
  background: #11181e;
}

.layout-dark .ant-tabs,
.layout-dark .ant-input,
.layout-dark .ant-input-group-addon .ant-btn,
.layout-dark .ant-input-number,
.layout-dark .ant-input-number-handler-wrap,
.layout-dark .ant-pagination-item,
.layout-dark .ant-pagination-item-link,
.layout-dark .ant-table-cell,
.layout-dark .ant-input-affix-wrapper,
.layout-dark .ant-upload.ant-upload-select-picture-card,
.layout-dark .ant-picker,
.layout-dark .ant-menu,
.layout-dark .ant-card-actions {
  background-color: #11181e;
  color: #fff;
}

.layout-dark .ant-input-disabled,
.layout-dark .ant-input-affix-wrapper-disabled {
  background-color: #0d1117;
  color: rgba(255, 255, 255, 0.25);
}

.layout-dark .ant-table-thead > tr > th {
  background-color: #09161c;
}

.layout-dark .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #09161c;
  color: #fff;
}

.layout-dark
  .ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary),
.layout-dark .ant-pagination-item a,
.layout-dark .ant-pagination-item-link {
  color: rgba(255, 255, 255, 0.75);
}

.layout-dark .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #11181e;
  color: #fff;
}

.layout-layout .ant-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.layout-dark .ant-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.ant-timeline-item-head {
  background: rgba(0, 0, 0, 0);
}

.ant-timeline-item-head-blue {
  color: #000;
  border-color: #000;
}

/* .ant-timeline-item-content {
  font-style: italic;
} */

.layout-dark .ant-timeline-item-head-blue {
  color: #fff;
  border-color: #fff;
}

.ant-rate {
  font-size: 24px;
}

.ant-rate-star-first,
.ant-rate-star-second {
  color: #c5c5c5;
}

.ant-tooltip-inner {
  background-color: #11181e;
}

.layout-dark .ant-tooltip-inner {
  background: #e5e5e5;
  color: #000;
}

/* .layout-light .ant-popover .ant-popover-content .ant-popover-inner {
  background-color: #fff;
  color: #000;
}

.layout-dark .ant-popover .ant-popover-content .ant-popover-inner {
  background-color: #11181e;
  color: #fff;
} */
